<!-- users/includes/header.html -->
<header style="background-color: #333; color: #fff; padding: 20px 0; text-align: center;">
    <div style="max-width: 1200px; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;">
        <!-- Логотип или название сайта -->
        <h1 style="margin: 0; font-size: 24px; color: #ffcc00;">Александр Шипиль - Лучший Коуч</h1>

        Меню для авторизованных и неавторизованных пользователей
        <nav>
           {% if user.is_authenticated %}-->
                <!-- Меню для авторизованных пользователей -->
                <ul style="list-style: none; margin: 0; padding: 0; display: flex; gap: 20px;">

                </ul>
            {% else %}
                Кнопка для неавторизованных пользователей
                <a href="{% url 'users:login' %}" style="color: #fff; text-decoration: none; background-color: #ffcc00; padding: 10px 20px; border-radius: 5px;">Войти</a>
            {% endif %}
        </nav>
    </div>
</header>